/* Extra large devices (1200px and down) */

@media screen and (max-width: 1200px) {}


/* Large devices (992px and down) */

@media screen and (max-width: 992px) {
    .faq-img{
        max-width: 450px;
      }
}


/* Medium devices (768px and down) */

@media screen and (max-width: 768px) {
    :root {
        --th-fs-1: calc(47px*.8);
        --th-fs-2: calc(30px*.8);
        --th-fs-3: calc(20px*.8);
        --th-fs-4: calc(16px*.8);
        --th-fs-5: calc(14px*.8);
      }
    .hero-inner-box{
        padding: 30px;
    }
    .faq-img{
        max-width: 250px;
        bottom: -30px;
        right: -50px;
      }
      .advance-tool img{
        max-width: 400px;

      }
}


/* Small devices (576px and down) */

@media screen and (max-width: 576px) {
    
    .header-contact{
        padding: 10px 0px;
    }
    .header-contact .fas, .header-contact .fab {
        width: 20px;
        height: 20px;
        line-height: 20px;
        font-size: 10px;
    }
    .th-btn {
        padding: 10px 20px;
    }
    .header-main{
        padding: 15px 0px;
    }
    .hamburger {
        max-width: 30px;
    }
    .mobile-menu {
        padding: 10px;
    }
    .hero-inner-box li .tab{
        padding: 10px;
    }
    .hero-box{
        padding: 10px;
    }
    .testimonial .ready-get{
        padding: 20px;
    }
    .testimonial .ready-get{
        border-radius: 0px;
    }
    .container-xxl{
            padding: 0px 15px !important;
    }
}