/* ------------------------------ 
    ************** Table Of Content  ************** 
                 --------------------
                 
01. =Google Font
02. =Base
03. =Section padding margin
04. =Heading
05. =Main Button
06. =Header
07. =Footer
08. =BreadCrum




Font Size System 
-----------------
10px / 12px / 16px / 18px / 20px / 24px / 30px / 36px / 44px / 52px / 62px / 74px / 86px / 98px 

Spacing System 
-----------------
2px / 4px / 8px / 12px / 16px / 24px / 32px / 48px / 64px / 80px / 96px / 128px  

-------------------------------------------------------*/

/* 01. Google Font Start ------------------------------ */

@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* ------------- Google Font End ------------- */

/* 02.base Start ------------------------------ */

:root {
  --th-color-1: #9185ff;
  --th-color-2: #000000;
  --th-color-3: #e8f2fc;
  --th-color-4: #7d7d7d;
  --th-color-5: #002b45;
  --th-fs-1: 47px;
  --th-fs-2: 30px;
  --th-fs-3: 20px;
  --th-fs-4: 16px;
  --th-fs-5: 14px;
  --th-gradient-1: linear-gradient(
    90.83deg,
    #ba83ff -5.22%,
    #9785ff 49.07%,
    #7387ff 103.36%
  );
  --th-gradient-2: linear-gradient(
    90.83deg,
    #ba83ff -5.22%,
    #9785ff 49.07%,
    #7387ff 103.36%
  );
  --font-Roboto: "Roboto", sans-serif;
  --font-Poppins: "Poppins", sans-serif;
  --font-Montserrat: "Montserrat Alternates", sans-serif;
}
body{
  overflow-x: hidden !important;
}
.container-xxl{
  padding: 0px 20px !important;
}
h1,
h2,
h3 {
  font-family: var(--font-Montserrat);
  font-weight: 700;
  line-height: 120%;
}
h1 {
  font-size: var(--th-fs-1);
}
h2 {
  font-size: var(--th-fs-2);
}
h3 {
  font-size: var(--th-fs-3);
}
p {
  font-size: var(--th-fs-4);
}
a {
  text-decoration: none;
}
.th-btn {
  display: block;
  padding: 15px 30px;
  font-family: var(--font-Montserrat);
  font-size: var(--th-fs-5);
  font-weight: 500;
  line-height: 120%;
  color: #fff;
  border-radius: 5px;
  text-align: center;
  outline: none;
  border: none;
}
.th-btn.outline {
  background-color: transparent;
  border: 1px solid #9da0a6;
}
.th-btn.fill {
  background: var(--th-gradient-1);
  border: 1px solid transparent;
}
.sec-head{
  position: relative;
  z-index: 5;
}
.sec-head .sec-text{
  font-family: var(--font-Roboto);
  font-size: var(--th-fs-5);
  font-weight: 400;
  line-height: 120%;
  color: #7D7D7D;  
}
/* Scroll Bar style start */

::-webkit-scrollbar {
  /* width */
  /* width: 10px; */
}

::-webkit-scrollbar:hover {
  /* width: 50px; */
}

::-webkit-scrollbar-track {
  /* Track */
  /* background-color: ; */
}

::-webkit-scrollbar-thumb {
  /* Handle */
  /* background-color: ; */
}

/* Scroll Bar style End */

/* ------------- base End ------------- */

/* 03.Header Section Start ------------------------------ */
.header-contact {
  background-color: var(--th-color-3);
  padding: 20px;
}
.header-contact span.text {
  color: var(--th-color-2);
  font-size: var(--th-fs-5);
  text-decoration: none;
}
.header-contact .fas,
.header-contact .fab {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  background: var(--th-gradient-1);
}
.header-main {
  background-color: var(--th-color-5);
  padding: 20px;
}
.logo a {
  font-family: var(--font-Montserrat);
  font-size: var(--th-fs-2);
  font-weight: 700;
  line-height: 120%;
  color: #fff;
}
.menu li a {
  font-family: var(--font-Montserrat);
  font-size: var(--th-fs-5);
  font-weight: 500;
  line-height: 120%;
  color: #fff;
}
.menu-item{
  position: relative;
}
.menu-item-drop{
  padding: 10px 0px !important;
  border-radius: 10px;
  background-color: #fff;
  position: absolute;
  /* bottom: 0; */
  width:150px;
  user-select: none;
  border: 1px solid #e5e5e5;
  visibility: hidden;
  opacity: 0;
  transform: translateY(50px);
  transition: all .5s;
}
.menu-item:hover .menu-item-drop{
  visibility: visible;
  opacity: 1;
  transform: translateY(10px);
}
.menu-item-drop a{
  color: var(--th-color-2) !important;
}
.menu-item-drop li{
  padding: 0px 20px;
  /* background-color: var(--th-color-3); */
  transition: all .5s;
}
.menu-item-drop li:hover{
  background-color: var(--th-color-3);
}
.mobile-menu{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: var(--th-color-5);
  padding: 20px ; 
  z-index: 100;
  transform: translateX(-100%);
transition: all .5s;
}
.mobile-menu.active{
  transform: translateX(0%);
}
.mobile-menu .logo {
  margin-bottom: 20px;
  padding: 0px 10px;
}
.hamburger {
 max-width: 40px;
 cursor: pointer;
}
.mobile-menu .close {
  margin-bottom: 20px; 
  text-align: right;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
}
.mobile-menu .menu ul{
  display: block !important; 

}

.mobile-menu .menu ul li{
  min-width: 200px;
  transition: all .5s;
}
.mobile-menu .menu ul li a{
  padding: 10px;
  display: block;
  transition: all .5s;
}
.mobile-menu .menu ul li a:hover{
  background-color: #33556a;
}
.mobile-menu .menu-item-drop{
 position: relative;
 transform: translateY(0px);
 visibility: visible;
 opacity: 1;
 width: 100%;
 border-radius: 0px;
 /* background-color: transparent; */
 border: none;
 height: 0px;
 padding: 0 !important;
 overflow: hidden;
}
.mobile-menu .menu-item-drop.active{
  height: 120px;
 /* padding: 0 !important; */
}
.mobile-menu .menu-item-drop a:hover{
  background-color: var(--th-color-3) !important;
}
.mobile-menu:hover .menu-item-drop{
 transform: translateY(0px);
}
/* ------------- Header Section End ------------- */

/* 04.Hero Section Start ------------------------------ */
.hero {
  padding: 50px 0px;
}
.hero-head .blue {
  color: var(--th-color-1);
}
.hero-head .hehe-text {
  font-family: var(--font-Poppins);
  font-size: var(--th-fs-4);
  color: var(--th-color-4);
}
.hero-box {
  margin-top: 30px;
  padding: 20px;
  position: relative;
}
.hero-box img#top-right {
  max-width: 130px;
  width: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
}
.hero-box img#bottom-left {
  max-width: 130px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
}
.hero-inner-box {
  position: relative;
  z-index: 10;
  padding: 40px;
  background: #f9fbfe;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.hero-inner-box li {
  font-family: var(--font-Poppins);
  font-size: var(--th-fs-5);
  font-weight: 600;
  line-height: 120%;
}
.hero-inner-box li .tab {
  padding: 10px 20px;
  background-color: var(--th-color-3);
  border-radius: 50px;
}
.hero-inner-box textarea {
  padding: 30px;
  width: 100%;
  border-radius: 5px;
  border: 1px dashed #7a86ff;
}
.hero-inner-box textarea::placeholder {
  font-family: var(--font-Roboto);
  font-size: var(--th-fs-3);
  color: var(--th-color-4);
  font-weight: 400;
  line-height: 120%;
}
.hero-inner-box .th-btn.outline {
  color: var(--th-color-2);
}
.hero-inner-box img{
    width: 100%;
    max-width: 300px;
    margin: auto;
}
/* ------------- Hero Section End ------------- */

/* 05.Why Use Ai Section Start ------------------------------ */
.why-use-ai{
  padding: 50px 0px;
  position: relative;
}
#why-left{
  max-width: 400px;
  position: absolute;
  top: 0;
  left: 0px;
}
#why-right{
  max-width: 400px;
  position: absolute;
  top: 0;
  right: 0px;
}
.why-use-box .slick-dots{
  bottom: -40px;
}
.why-use-box .slick-dots li.slick-active button:before{
  color: #7E86FF;
}
.why-use-box .slick-dots li button:before{
  font-size: 16px;
}
.why-use-box .col-sm-6:nth-child(1) .whus-box{
  border: 0.46px solid #403DAC;
}
.why-use-box .col-sm-6:nth-child(2) .whus-box{
  border: 0.46px solid #FB825F;
}
.why-use-box .col-sm-6:nth-child(3) .whus-box{
  border: 0.46px solid #02E2F1;
}
.why-use-box .col-sm-6:nth-child(4) .whus-box{
  border: 0.46px solid #354785;
}
.why-use-box .col-sm-6:nth-child(5) .whus-box{
  border: 0.46px solid #354785;
}
.why-use-box .col-sm-6:nth-child(6) .whus-box{
  border: 0.46px solid var(--th-color-1);
}
.whus-box{
  background-color: #fff;
  margin-top: 80px;
  padding: 30px;
  padding-bottom: 0px;
  border: 1px solid var(--th-color-3);
  /* height: 100%; */
  position: relative;
  z-index: 10;
}
.whus-inner{
  position: relative;
  transform: translateY(-30px);
}
.whus-img{
  max-width: 80px;
  position: relative;
  transform: translateY(-35px);

}
/* ------------- Why Use Ai Section End ------------- */


/* 06.AI Detectors vs. Plagiarism Checkers Section Start ------------------------------ */
.vs-checkers{
  padding: 50px 0px;
  position: relative;
}
.vsch-box{
  position: relative;
  z-index: 10;
}
/* ------------- AI Detectors vs. Plagiarism Checkers Section End ------------- */

/* 07.FAQs Section Start ------------------------------ */
.faqs{
  padding: 50px 0px;
  position: relative;
  background: var(--th-gradient-2);
}
.faqs h1{
  color: #fff;
}
.faq-box{
  color: #fff;
  cursor: pointer;
  user-select: none;
  position: relative;
  z-index: 5;
}
.faq-icon{
  min-width: 10px !important;
  transition: all .5s;
}
.faq-img{
  position: absolute;
  bottom: 0px;
  right: -10px;
  max-width: 550px;
}
/* ------------- FAQs Section End ------------- */


/* 08.Advance Tool Section Start ------------------------------ */
.advance-tool{
  padding: 50px 0px;
  position: relative;
}
.advance-tool h1 .blue{
color: #7C87FF;
}
/* ------------- Advance Tool Section End ------------- */