/* ------------------------------ 
    ************** Table Of Content  ************** 
                 --------------------
                 
01. =Google Font
02. =Base
03. =Section padding margin
04. =Heading
05. =Main Button
06. =Header
07. =Footer
08. =BreadCrum




Font Size System 
-----------------
10px / 12px / 16px / 18px / 20px / 24px / 30px / 36px / 44px / 52px / 62px / 74px / 86px / 98px 

Spacing System 
-----------------
2px / 4px / 8px / 12px / 16px / 24px / 32px / 48px / 64px / 80px / 96px / 128px  

-------------------------------------------------------*/

/* 01. Google Font Start ------------------------------ */

@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* ------------- Google Font End ------------- */

/* 02.base Start ------------------------------ */

:root {
  --th-color-1: #9185ff;
  --th-color-2: #000000;
  --th-color-3: #e8f2fc;
  --th-color-4: #7d7d7d;
  --th-color-5: #002b45;
  --th-fs-1: 47px;
  --th-fs-2: 30px;
  --th-fs-3: 20px;
  --th-fs-4: 16px;
  --th-fs-5: 14px;
  --th-gradient-1: linear-gradient(
    90.83deg,
    #ba83ff -5.22%,
    #9785ff 49.07%,
    #7387ff 103.36%
  );
  --th-gradient-2: linear-gradient(
    90.83deg,
    #ba83ff -5.22%,
    #9785ff 49.07%,
    #7387ff 103.36%
  );
  --font-Roboto: "Roboto", sans-serif;
  --font-Poppins: "Poppins", sans-serif;
  --font-Montserrat: "Montserrat Alternates", sans-serif;
}
h1,
h2,
h3 {
  font-family: var(--font-Montserrat);
  font-weight: 700;
  line-height: 140%;
}
h1 {
  font-size: var(--th-fs-1);
}
h2 {
  font-size: var(--th-fs-2);
}
h3 {
  font-size: var(--th-fs-3);
}
p {
  font-size: var(--th-fs-4);
}
a {
  text-decoration: none;
}
.th-btn {
  display: block;
  padding: 15px 30px;
  font-family: var(--font-Montserrat);
  font-size: var(--th-fs-5);
  font-weight: 500;
  line-height: 140%;
  color: #fff;
  border-radius: 5px;
  text-align: center;
}
.th-btn.outline{
    background-color: transparent;
    border: 1px solid #fff;
}
.th-btn.fill{
    background: var(--th-gradient-1);
    border: 1px solid transparent;
}
/* Scroll Bar style start */

::-webkit-scrollbar {
  /* width */
  /* width: 10px; */
}

::-webkit-scrollbar:hover {
  /* width: 50px; */
}

::-webkit-scrollbar-track {
  /* Track */
  /* background-color: ; */
}

::-webkit-scrollbar-thumb {
  /* Handle */
  /* background-color: ; */
}

/* Scroll Bar style End */

/* ------------- base End ------------- */

/* 03.Header Section Start ------------------------------ */
.header-contact {
  background-color: var(--th-color-3);
  padding: 20px;
}
.header-contact span.text {
  color: var(--th-color-2);
  font-size: var(--th-fs-5);
  text-decoration: none;
}
.header-contact .fas,
.header-contact .fab {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  background: var(--th-gradient-1);
}
.header-main {
  background-color: var(--th-color-5);
  padding: 20px;
}
.logo a {
  font-family: var(--font-Montserrat);
  font-size: var(--th-fs-2);
  font-weight: 700;
  line-height: 140%;
  color: #fff;
}
.menu li a {
  font-family: var(--font-Montserrat);
  font-size: var(--th-fs-5);
  font-weight: 500;
  line-height: 140%;
  color: #fff;
}
/* ------------- Header Section End ------------- */
